{% extends "default.html.twig" %}

{% block body %}
       
    <!-- Page Header-->
    <header class="masthead" style="background-image: url('http://localhost/blog-php/public/img/post-bg.jpg')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="post-heading">
                        <h1>{{ post.titre }}</h1>
                        <h2 class="subheading">Problems look mighty small from 150 miles up</h2>
                        <span class="meta">
                            Posted by
                            <a href="#!">Start Bootstrap</a>
                            on August 24, 2022
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Post Content-->
    <article class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <p class>{{ post.contenu }}</p>
                        Placeholder text by
                        <a href="http://spaceipsum.com/">Space Ipsum</a>
                        &middot; Images by
                        <a href="https://www.flickr.com/photos/nasacommons/">NASA on The Commons</a>
                    </p>
                </div>
            </div>
        </div>
    </article>

    <section style="background-color: #ad655f;">
  <div class="container my-5 py-5">
    <div class="row d-flex justify-content-center">
      <div class="col-md-12 col-lg-10">
        <div class="card text-dark">
          <div class="card-body p-4">
            <h4 class="mb-0">Recent comments</h4>
            <p class="fw-light mb-4 pb-2">Latest Comments section by users</p>
            <div class="d-flex flex-start">
              <img class="rounded-circle shadow-1-strong me-3"
                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(23).webp" alt="avatar" width="60"
                height="60" />
              <div>
                <h6 class="fw-bold mb-1">Maggie Marsh</h6>
                <div class="d-flex align-items-center mb-3">
                  <p class="mb-0">
                    {{post.date}}
                    <span class="badge bg-primary">Pending</span>
                  </p>
                  <p class="mb-0">
                    {{post.id}}
                    <span class="badge bg-primary">Pending</span>
                  </p>
                  <a href="#!" class="link-muted"><i class="fas fa-pencil-alt ms-2"></i></a>
                  <a href="#!" class="link-muted"><i class="fas fa-redo-alt ms-2"></i></a>
                  <a href="#!" class="link-muted"><i class="fas fa-heart ms-2"></i></a>
                </div>
              </div>
            </div>
          </div>
          <hr class="my-0" />

    
<div class="container">

  {% for comment in post.comments %}

  <div class="row">
<div class="">
<div class="card  mb-3 bg-secondary " >

  <small>Ce commentaire a été posté le{{comment.date}} par </small>
  <div class="card-body">
    <p class="card-text">{{comment.content}}</p>
  </div>
</div>

</div>
</div>
{% endfor %}

</div>


<form action="" method ="POST">
    <div class="form-group">
    <br>
    <div class="form-group">
        <label for="content" >Ecrire un Commentaire</label>
        <textarea name="content" id="content"  rows="8" class="form-control">
        </textarea>
    </div>
    <br>
    <br><br>
    <button type="submit" name="submit" class="btn btn-primary">Enregistrer</button>
</form>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}

