{% extends 'default.html.twig' %}


{% block body %}
    <h1>Commentaires index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>content</th>
                <th>date</th>
                <th>status</th>
                <th>id user</th>
                <th>id post</th>
                <th>Action</th>


            </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <td>{{ comment.id }}</td>
                <td>{{ comment.content | u.truncate(25, '...', false) }}</td>
                <td>{{ comment.date }}</td>
                <td>{{ comment.status }}</td>
                <td>{{ comment.id_user }}</td>
                <td>{{ comment.id_post }}</td>
                <td>
                    <a href="show/{{comment.id}}">show</a>
                    <a href="update/{{comment.id}}">edit</a>
                    <a href="delete/{{comment.id}}">delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="new/">Create new</a>
{% endblock %}